<app-expansion-panel>
  <h3 class="panel-title">Details</h3>

  <div class="panel-content content">
      <div class="content__row">
        <div class="content__column">
          <div class="content__type">{{type}}</div>
          <div class="content__priority">{{priority}}</div>
        </div>
        <div class="content__column">
          <div class="content__status">{{status}}</div>
          <div class="content__resolution">{{resolution}}</div>
        </div>
      </div>
  </div>
</app-expansion-panel>
