<div class="task">
  <div class="task__summary">
    <app-issue-summary *ngIf="task"
                       [summary]="task.summary"
                       (onChanged)="updateIssue($event)">
    </app-issue-summary>
  </div>
  <div class="task__row">
    <div class="task__field">
      <app-issue-details *ngIf="task" [type]="task?.type"
                         [priority]="task?.priority"
                         [resolution]="task?.resolution"
                         [status]="task?.status"
                         (onChanged)="updateIssue($event)"
      >
      </app-issue-details>
    </div>
    <div class="task__field">
      <app-people *ngIf="task"
                  [assignee]="task.assignee"
                  [reporter]="reporter"
                  (onChanged)="updateIssue($event)"></app-people>
    </div>
  </div>
</div>
