@import "setup/variables";

.task {
  padding: 4%;

  &__row {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__field:first-child {
    flex: 0 1 65%
  }

  &__field:last-child {
    flex: 0 1 30%;
  }
}
