<header class="header">
  <app-toolbar [username]="username"></app-toolbar>
</header>
<main class="main">
  <mat-sidenav-container class="main__sidenav sidenav">
    <mat-sidenav #sidenav mode="side" [fixedInViewport]="true" [fixedTopGap]="100" class="sidenav__bar">
      <div class="sidenav__text">
        Tyt mozhe buty vasha reklama abo sortyvannya z filtramy
      </div>
      <img src="assets/images/not-found.gif" alt="Not found" class="sidenav__image">
    </mat-sidenav>

    <mat-sidenav-content class="sidenav__content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</main>


