<div class="board" cdkDropListGroup>
  <app-board-list [data]="todoData"
                  [listHeader]="'To Do'"
                  [listId]="'todo'"
                  [listName]="'todo'">
  </app-board-list>
  <app-board-list [data]="progressData"
                  [listHeader]="'In Progress'"
                  [listId]="'progress'"
                  [listName]="'progress'">
  </app-board-list>
  <app-board-list [data]="testingData"
                  [listHeader]="'In Testing'"
                  [listId]="'testing'"
                  [listName]="'testing'">
  </app-board-list>
  <app-board-list [data]="doneData"
                  [listHeader]="'Done'"
                  [listId]="'done'"
                  [listName]="'done'">
  </app-board-list>
</div>
