@import "setup/variables";

.board {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 90%;
  padding: 3% 4%;

  &__container {
    flex: 0 1 20%;
  }

  &__header {
    border-bottom: 1px solid $primary-color;
  }

  &__list {
    min-height: 200px;
  }
}
