@import "setup/variables";
.toolbar {
  display: flex;
  align-items: center;
  height: 100%;

  &__link {
    color: $text-color--light;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-decoration: none;
    transition: 0.3s ease;

    &:hover {
      color: $accent-color;
    }
  }

  &__group {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__button:first-child {
    margin-right: 1em;
  }

  &__item {
    margin-right: 2em;

    &--right {
      margin-left: auto;
    }
  }


}
