<mat-toolbar color="primary" role="heading" class="toolbar">
  <div class="toolbar__item">
    <button class="toolbar__button" mat-icon-button (click)="toggleSidenav()" matTooltip="Show filters" color="accent">
      <mat-icon class="toolbar__icon">menu</mat-icon>
    </button>
  </div>
  <div class="toolbar__item">Tajirastan</div>
  <div class="toolbar__item toolbar__item--right">
    <div class="toolbar__group">
      <button mat-flat-button class="toolbar__button" (click)="openDialog()">
        Create issue
      </button>
      <div class="toolbar__profile">Username</div>
      <button class="toolbar__button" mat-icon-button (click)="logout()" matTooltip="Logout" color="accent">
        <mat-icon class="toolbar__icon">exit_to_app</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>
